<div class="wrapper">
  <div class="chapterOne">
    <div class="heading">
      <h3>the fiction chapter</h3>
    </div>
    <br>
    <div class="blogs">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="../../assets/balcony.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">balcony encouters</h5>    
              <p>June 5, 2021</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="../../assets/dinner.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">the celebratory dinner</h5>    
              <p>June 5, 2021</p>          
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="../../assets/valentine.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">happy valentine’s day</h5>
              <p>June 5, 2021</p>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="../../assets/choice.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The right choices</h5>
              <p>June 5, 2021</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chapterTwo">
    <div class="heading">
      <h3>the work from home chapter</h3>
    </div>
    <br>
  <div class="blogs">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img src="../../assets/cricket.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">cricketing losses</h5> 
            <p>June 5, 2021</p>   
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <!-- <div class="card">
          <img src="../../assets/blog.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>     
            <p>June 5, 2021</p>         
          </div>
        </div> -->
      </div>
      <div class="col-sm-3">
        <!-- <div class="card">
          <img src="../../assets/blog.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p>June 5, 2021</p>
            </div>
        </div> -->
      </div>
      <div class="col-sm-3">
        <!-- <div class="card">
          <img src="../../assets/blog.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p>June 5, 2021</p>
            </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>