<div class="wrapper">
  <div class="background">
    <div class="layer">
      <br>
      <div class="heading">
  <h2>New posts in your inbox</h2>
</div>
<br>
  <div class="row g-2 align-items-center cust">    
    <div class="col-auto">     
      <input style="width: 640px;height: 47px;" type="email" id="exampleInputEmail1" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-dark">Sign Up</button>
    </div>
  </div>
</div>
</div>
</div>